
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  main {
    padding: 50px;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  h2 {
    font-size: 36px;
  }

  a img {
    display: block;
  }
  
  a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 25px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  a:hover span {
    opacity: 1;
  }
  
  
  p {
    font-size: 18px;
  }
  
  form {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  .logo img {
    max-width: 1.5cm;
    transition: transform 0.5s ease;
  }
  
  .logo img:hover {
    transform: rotate(360deg);
  }
  
  img.p1, img.p2, img.p3, img.p4 {
    max-width: 100%;
  }
  html {
    scroll-behavior: smooth;
  }
  
  
  