* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  font-family: "Inter", Sans-serif;
}

/* navigation bar */

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  top: -100;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(20px);
  animation: slideIn 2s forwards;
  transition: top 0.5s;
}

.navlist {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 2rem;
  list-style: none;
}

.navlist a {
  text-decoration: none;
  font-family: "Inter", Sans-serif;
  color: black;
  display: flex;
  padding: 1rem;
  font-size: 1.2em;
  align-items: center;
  justify-content: center;
}

.navlist a:hover {
  font-size: 1em;
  color: blue;
  transition: font-size 0.3s ease-in-out;
}

/*logo edit */

.logo {
  position: fixed;
  left: 1em;
  top: 1em;
  padding: 0.8rem;
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  z-index: 2;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation: transform 0.3s ease-in-out;
  animation: slideIn 2s forwards;
  transform-origin: center;
  transform: rotate(0deg);
}

.logo:hover img {
  transform: scale(0.9);
  transition: transform 0.4s ease-in-out;
}
.logo img {
  display: block;
  max-width: 60px; 
  transform-origin: center;
}

@keyframes slideIn {
  0% {
    top: -100px; /* Start position */
  }
  100% {
    top: 0; /* End position */
  }
}


/* welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
}

#welcome-name {
  font-size: 5rem;
  display: block;
  text-align: center;
  font-family: "poppins", Sans-serif;
  animation-delay: 1s;
}

.persport {
  font-size: 1.5rem;
  font-family: "inter";
  font-style: italic;
  text-align: center;
  animation-delay: 2s;
}

.persport,
#welcome-name {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* section about me */

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  background-color: orange;
}

.aboutme p {
  margin-left: 5em;
  margin-right: 5em;
  text-align: justify;
}

.aboutme p .cvlink {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.aboutme p .cvlink:hover {
  color: blue;
}

/* project section */

.projects {
  text-align: center;
  padding: 10rem 2rem;
}

.projects-header {
  font-size: 2rem;
  max-width: 900px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.hidden {
  opacity: 1;
  transition: all 1s;
}

.show {
  opacity: 1;
}

.code {
  color: black;
}

.project-title {
  color: white;
  font-size: 30px;
  position: relative;
  top: -45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  text-decoration: underline;
  font-weight: normal;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.project-image:hover ~ .project-title {
  opacity: 1;
}

.project-image {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  transition: filter 0.3s ease-in-out;
}

.project-image:hover {
  filter: grayscale(100%) brightness(5%);
}

.project-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project-image:hover::before {
  opacity: 1;
}

/* contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

.contact-section-header > h2 {
  font-size: 2rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2rem;
  transition: transform 0.3s ease-out;
  margin: 1em;
  color: black;
}

.contact-details:hover {
  transform: scale(0.9);
  color: blue;
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}