body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    animation: shake 0.5s ease-in-out 5s infinite;
  }
  
  .logo:hover {
    animation: rotate 0.5s ease-in-out forwards;
    animation-iteration-count: 1;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes shake {
    0% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(-5deg);
    }
    20%, 40%, 60%, 80% {
      transform: rotate(0deg);
    }
  }
  
  .logo:not(:hover) {
    animation: shake 0.5s ease-in-out 5s infinite;
  }